@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.contact1
{
position: relative;
height: 100vh;
padding:50px  100px;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
background-image: url('../images/back.jpg'); 
background-size: cover;
}
.contact1 .content1{
max-width: 800px;
text-align: center;
}
.contact1 .content1 h2
{
font-size: 36px;
font-weight: 500;
color: #fff;

padding-bottom:6px;
}
.contact1 .content1 p
{
font-weight: 400;
font-size: 20px;
color: #fff;
}
.container1
{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}
.container1 .contactinfo
{
width: 50%;
display: flex;
flex-direction: column;
}
.container1 .contactinfo .box
{
position: relative;
padding: 20px 0;
display: flex;
}
.container1 .contactinfo .box .icon
{
min-width: 60px;
height: 60px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 22px;
}
.container1 .contactinfo .box .text
{
display: flex;
margin-left: 20px;
font-size: 16px;
color:#fff;
flex-direction: column;
font-weight: 300;
}
.container1 .contactinfo .box .text h3
{
font-weight: 500;
font-size:22px;
color:#fff;

}
.contactform{
width: 40%;
padding: 40px;
background: #fff;
box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
border-radius:10px;
}
.contactform h2
{
font-size: 30px;
color: #333;
font-weight: 500;
}
.contactform .inputBox{
position: relative;
width: 100%;
margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea
{
width: 100%;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
border: none;
border-bottom: 2px solid #333;
outline :none;
resize: none;
}
.contactform .inputBox span
{
position: absolute;
left: 0;
padding: 5px 0;
font-size: 16px;
margin: 10px 0;
pointer-events: none;
transition: 0.5s;
color: #666;
}
.contactform .inputBox input:focus~ span,
.contactform .inputBox input:valid~ span,
.contactform .inputBox textarea:focus~ span,
.contactform .inputBox textarea:valid~ span
{
color:#663300;
font-size: 15px;
transform: translateY(-20px);
}

.contactform .inputBox input[type="submit"]
{
width: 100px;
background: #996600;
color:#fff;
border: none;
cursor: pointer;
padding: 10px;
font-size: 18px;
border-radius:10px;
}
@media (max-width: 991px)
{
.contact1{
padding: 50px;
}
.container1
{
flex-direction: column;
}
.container1 .contactinfo{
margin-bottom: 40px;
}
.container1 .contactinfo,
.contactform{
width: 100%;
}
}


