@charset "utf-8";
/* CSS Document */
body{
	background-color:#eef1f8;
	margin:0px;
	padding:0px;
}

a{
	text-decoration:none;
}

.container{
	width:72%;
	height:80%;
	/* background-color:#FFFFFF; */
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
	border-radius:20px;
	display:flex;
	justify-content: center;
	align-items:center;
	background-image: url("../images/signup-images/bg.png");
	background-repeat:no-repeat;
	background-size:cover;	
}

.container-background{
	width:72%;
	height:80%;
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border-radius:20px;
	display:flex;
	justify-content: center;
	align-items:center;
	background:linear-gradient(-30deg,#913910,#5e0315 55%);
	animation:bg-animate 30s linear infinite;
}

@keyframes bg-animate{
	from{
		filter:hue-rotate(0);
	}

	to{
		filter:hue-rotate(360deg);
	}
}

.sign-up{
	width:50%;
	display:flex;
	flex-direction:column;
	align-items: center;
	
}

.text-container{
	width:50%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	margin-left:-40px;
	
}

.heading{
	font-family:calibri;
	color:rgba(30,30,30,1);
	margin-left:40px;
	margin-top:40px;
}

.text{
	width:350px;
	border: none;
	height:46px;
	box-shadow:2px 6px 18px rgba(66,57,238,0.3);
	border-radius: 30px;
	display:flex;
	align-items:center;
	margin:20px;
}

#uimg,#eimg,#pimg,#rpimg{
	display:none;
}

input{
	height:40px;
	width:99%;
	outline:none;
	border: 1px solid white;
	font-size:14px;
	border-radius: 20px;
	text-align: center;
}

.text img{
	margin-left:20px;
	margin-right: 10px; 
}

.conditions{
	font-family:myriad pro;
	color:#8792a3;
	font-size:14px;
}

.trems{
	display: flex;
	align-items:center; 
}

.conditions a{
	color:#7d22e3;
	font-weight:500;
}

button{
	width:200px;
	height:40px;
	outline:none;
	border:none;
	border-radius:20px;
	background:linear-gradient(-30deg,#913910,#5e0315 55%);
	box-shadow:2px 6px 16px rgba(66,57,238,0.3);
	color:#FFFFFF;           
	font-weight:600;
	letter-spacing:1px;
	font-weight: 13px;
	animation:bg-animate 30s linear infinite;
}

button:active{
	transform:scale(1.1);
}

.text-container p{
	width:70%;
	text-align: center;
	font-family:arial;
	font-size: 15px;
	font-weight: 400;
	line-height:0px;
}

.g-recaptcha{
	margin-top: 20px;
	margin-bottom: 20px;
}

._submit{
	margin-left: 88px;
	margin-bottom: 16px;
}

.error{
	border-color: red;
	/*border-color: #ff2d1c;*/
	background-color: #ffd9d6;
	border-radius: 20px;
	border-width: 2px;
}

.focus{
	background-color: #fff;
}

.backg{
	overflow: hidden;
	height:100vh;
}

.bckimg{
	width: 100%;
}

#err{
	display : none;
}